.container {
  max-width: 900px;
  margin: 0 auto;
}

.overlay-tablecontent {
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  padding: 30px 60px;
  position: relative;
}

/* title */
.title-tablecontent{
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 8px;
  text-align: center;
}

.accent-line {
  width: 80px;
  height: 4px;
  background: var(--accent);
  margin-bottom: 40px;
}

/* TOC */
.toc-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.toc-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px;
  border-radius: 10px;

  background: var(--card);
  border: 1px solid var(--border);

  cursor: pointer;
  transition: all 0.2s ease;
  color: var(--primary);
}

.toc-item:hover {
  background: rgba(56, 189, 248, 0.08);
  border-color: var(--accent);
}

.toc-left h3 {
  font-size: 20px;
  margin: 0;
  transition: color 0.2s ease;
}

.toc-item:hover h3 {
  color: var(--accent);
}

.toc-right {
  display: flex;
  align-items: center;
  gap: 16px;
  color: var(--muted);
  font-weight: 500;
}

.arrow {
  color: var(--accent);
  font-size: 20px;
}

/* info card */
.info-card {
  margin-top: 64px;
  padding: 32px;
  background: rgba(56, 189, 248, 0.05);
  border: 1px solid var(--border);
  border-radius: 10px;
}

.info-card h2 {
  margin-bottom: 20px;
  font-size: 24px;
}

.info-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

.label {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  opacity: 0.6;
  margin-bottom: 4px;
}

.value {
  font-size: 18px;
  font-weight: 600;
}